/* --------------------------------- Generelt ---------------------------------*/

/* Importering af font*/
@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@300;400;500;600;700&display=swap');

/* Variabler såsom farver*/
:root{
    --background-color: #1f1a21;
    --text-color: #DBDBDB;
    --darker-purple: #4B324D;
    --brighter-purple: #563962;
    --button-yellow: #FFBD3D;

}

/* Fjerner default browser indstillinger og sætter font på alting.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yrsa', serif;
}

/* Skifter baggrundsfarve*/
body{
    background-color: var(--background-color);
}

/* --------------------------------- Header ---------------------------------*/

/* Generel navigation styling */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--darker-purple);
}

/* Styling af navn */
.navn{
    color: var(--text-color);
    letter-spacing: 3px;
    font-size: 25px;
}

/* Fingører links position */
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

/* Fjerner punktform fra list*/
.nav-links li{
    list-style: none;
}

/* Styling af selve linksne */
.nav-links a{
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: bold;
}

/* Skjuler burgermenuen*/
.burgermenu{
    display: none;
    cursor: pointer;
}

/* Styler burgermenu linjer*/
.burgermenu div{
    width: 35px;
    height: 7px;
    background-color: var(--text-color);
    margin: 5px;
    transition: all 0.1s ease;
}

/* Styling af side-titler */
h1{
    margin-top: 20px;
    text-align: center;
    color: var(--text-color);
    font-size: 55px;
    font-weight: bolder;
    letter-spacing: 3px;
}

/* ---------------------Forside---------------------*/


/* ---------------------Desktopformat styling---------------------*/

/* Skubber links længere væk fra hinanden imellem bredder på 768px - 1100px*/
@media screen and (max-width: 1125px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (min-width: 768px){
    .current-page{
        background-color: var(--button-yellow);
        padding: 7px;
        border-radius: 10px;
    }
}

/* ---------------------Mobilformat styling---------------------*/

@media screen and (max-width: 768px){
    /* --------- Header ---------*/
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--darker-purple);
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-links a{
        background-color: var(--brighter-purple);
        padding: 25px;
        padding-right: 100px;
        padding-left: 100px;
        border-radius: 10px;
    }
    .nav-links li{
        opacity: 0;
    }
    .burgermenu{
        display: block;
    }
}

/*---------------------In-between styling---------------------*/
@media screen and (max-width: 482px){
    /* --------- Generelle ---------*/
    h1{
        font-size: 38px;
    }
}
/* Bruges til at toggle burgermenu ind og ud */
.nav-active{
    transform: translateX(0%);
}

/* Keyframes for links*/
@keyframes navFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

/* Skifter burgermenu til et kryds når menuen er åben */
.toggle .bm-line1{
    transform: rotate(-45deg) translate(-5px,10px);
}
.toggle .bm-line2{
    opacity: 0;
}
.toggle .bm-line3{
    transform: rotate(45deg) translate(-7px,-11px);
}