/* --------------------------------- Generelt ---------------------------------*/

/* Importering af font*/
@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@300;400;500;600;700&display=swap');

/* Variabler såsom farver*/
:root{
    --background-color: #1f1a21;
    --text-color: #DBDBDB;
    --darker-purple: #4B324D;
    --brighter-purple: #563962;
    --button-yellow: #FFBD3D;

}

/* Fjerner default browser indstillinger og sætter font på alting.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yrsa', serif;
}

/* Skifter baggrundsfarve*/
body{
    background-color: var(--background-color);
}

/* Fjerner punktform fra list*/
li{
    list-style: none;
}

/* Fjerner linje fra links*/
a{
    text-decoration: none;
}

/* --------------------------------- Header ---------------------------------*/

/* Generel navigation styling */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--darker-purple);
}

/* Styling af navn */
.navn{
    color: var(--text-color);
    letter-spacing: 3px;
    font-size: 25px;
}

/* Fingører links position */
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

/* Styling af selve linksne */
.nav-links a{
    color: var(--text-color);
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: bold;
}

/* Skjuler burgermenuen*/
.burgermenu{
    display: none;
    cursor: pointer;
}

/* Styler burgermenu linjer*/
.burgermenu div{
    width: 35px;
    height: 7px;
    background-color: var(--text-color);
    margin: 5px;
    transition: all 0.1s ease;
}

/* Styling af side-titler */
h1{
    margin-top: 20px;
    text-align: center;
    color: var(--text-color);
    font-size: 55px;
    font-weight: bolder;
    letter-spacing: 3px;
}

/* ---------------------Forside---------------------*/

/*Undertitel styling*/
h2{
    text-align: center;
    color: var(--text-color);
    font-size: 30px;
}

.forside-navigation-kasser{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.forside-kasse{
    margin-bottom: 55px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: var(--brighter-purple);
}

/*Ændre billede størrelser*/
.forside-billede{
    width: 350px;
    height: 230px;
}

/*Hjælp til knap positioner*/
.forside-list{
    margin-top: 25px;
    margin-left: 130px;
    margin-bottom: 25px;
}

/*Knap styling på forside*/
.forside-knapper{
    font-size: 30px;
    font-weight: bold;
    box-shadow: -0px 5px 4px 0px #000000;
    border-radius: 3px;
    padding: 5px;
    color: var(--background-color);
    background-color: var(--button-yellow);
}

/* ---------------------Sider---------------------*/

/*Styling af infobokse på sider siden*/
.side-wrapper{
    margin-top: 75px;
    background-color: var(--brighter-purple);
    display: flex;
}

/*Tilpasser overskrifter i kasser*/
.side-wrapper h2{
    margin-top: 15px;
    margin-left: 20px;
}

/*Tilpasser brødtekst i kasser*/
.side-wrapper p{
    margin-left: 20px;
    color: var(--text-color);
    font-size: 18px;
}

/*Billede størelse og position justeres*/
.side-billede{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 210px;
    height: 160px;
}

/*Hjælp til knappe styling*/
.side-list{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40%;
    display: flex;
}

/*Styling af knapper på sider siden*/
.side-knapper{
    font-size: 20px;
    font-weight: bold;
    box-shadow: -0px 5px 4px 0px #000000;
    border-radius: 3px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: var(--background-color);
    background-color: var(--button-yellow);
}

/* ---------------------Desktopformat styling---------------------*/

/* Skubber links længere væk fra hinanden imellem bredder på 768px - 1100px*/
@media screen and (max-width: 1125px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (min-width: 768px){
    /* --------- Header ---------*/
    /* Bruges til at indikerer hvor man er på desktop version*/
    .current-page{
        background-color: var(--button-yellow);
        padding: 7px;
        border-radius: 10px;
    }

    /* --------- Forside ---------*/

    /* Tilpasser forside kasser*/
    .forside-kasse{
        margin-left: 120px;
    }

    /* Hjælper med at justere knapper*/
    .forside-list{
        margin-top: 250px;
    }
}

/* ---------------------Mobilformat styling---------------------*/

@media screen and (max-width: 768px){
    /* --------- Header ---------*/
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--darker-purple);
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-links a{
        background-color: var(--brighter-purple);
        padding: 25px;
        padding-right: 100px;
        padding-left: 100px;
        border-radius: 10px;
    }
    .nav-links li{
        opacity: 0;
    }
    .burgermenu{
        display: block;
    }
}

/*---------------------In-between styling---------------------*/
@media screen and (max-width: 482px){
    /* --------- Generelle ---------*/
    h1{
        font-size: 38px;
    }

    /* --------- Sider ---------*/
    /* Fjerner flex display*/
    .side-wrapper{
        display: block;
    }

    /* Tilføjer ekstra plads under knapper*/
    .side-knapper{
        margin-bottom: 15px;
    }

    /* Justerer billedet position*/
    .side-billede{
        margin-left: 28%;
    }
}

@media screen and (min-width: 1250px){
        /* --------- Side ---------*/

    /* Sætter kasser i flex*/
    .side-workgallery{
        display: flex;
    }

    /* Justerer position i desktop format */
    .side-topkasser{
        margin-left: 5%;
    }

    .side-nederstkasser{
        margin-left: 170px;
    }
}

@media screen and (max-width: 1620px){
    /* --------- Forside ---------*/
    .forside-list{
        margin-top: 20px;
    }
}

/*---------------------Fortsat Header Kode---------------------*/
/* Bruges til at toggle burgermenu ind og ud */
.nav-active{
    transform: translateX(0%);
}

/* Keyframes for links*/
@keyframes navFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

/* Skifter burgermenu til et kryds når menuen er åben */
.toggle .bm-line1{
    transform: rotate(-45deg) translate(-5px,10px);
}
.toggle .bm-line2{
    opacity: 0;
}
.toggle .bm-line3{
    transform: rotate(45deg) translate(-7px,-11px);
}